<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <a href="{% url 'todo_list_create' %}">Create a new list</a>
            <a href="{% url 'todo_item_create' %}">Create a new item</a>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_list in todo_list.all %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' id=todo_list.id %}">{{todo_list.name}}</td>
                        <td>{{todo_list.items.count}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            </table>
        </div>
    </main>
</body>

</html>
